
html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}


.converter-body{
  align-content: center;
  align-items: center;
  width: 400px;
  height: 200px;
  position: absolute;
  top: 50%;
  left: 38%;
  transform: translate(-50%,-50%);
  box-shadow: 0 0 2px 1px #cacaca;
  background: #7d7d7d;
  -moz-border-radius: 25px / 25px;
  -webkit-border-radius: 25px / 25px;
  border-radius: 25px / 25px;
}

#image1{
  -moz-border-radius: 25px / 25px;
  -webkit-border-radius: 25px / 25px;
  border-radius: 25px / 25px;
}

.image-arrow{
  top: 355px;
  left: 875px;
  position: absolute;
}

.image-angle{
  top: 150px;
  left: 700px;
  position: relative;
}

.image-time{
  position: relative;
  top: 50px;
  left: 50px;
}

.converter-title{
  text-align: center;
  margin-top: 50px;
  font-size: 40px;
}

input{
  height: 35px;
  text-align: center;
  border: 1px solid black;
}

#equal{
  margin-left: 13px;
}

#result{
  margin-left: 12.5px;
  -moz-border-radius: 25px / 25px;
  -webkit-border-radius: 25px / 25px;
  border-radius: 25px / 25px;
}

#input{
  margin-left: 25px;
  -moz-border-radius: 25px / 25px;
  -webkit-border-radius: 25px / 25px;
  border-radius: 25px / 25px;
}
#inputType,#resultType{
  text-align: center;
  width: 158px;
  height: 35px;
  margin-left: 25px;
  margin-bottom: 50px;
  margin-top: 40px;
  color: #7d64ff;
  border: 1px solid black;
  -moz-border-radius: 25px / 25px;
  -webkit-border-radius: 25px / 25px;
  border-radius: 25px / 25px;
}
#resultType{
  margin-left: 35px;
}


::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}









